#Block Costs
cost_wood = 15
cost_seat = 25
cost_propeller = 45
cost_ramEngine = 50
cost_solid = 35
cost_door = 100
cost_ram = 50
cost_fakeram = 30
cost_antiram = 35
cost_coupling = 5
cost_repulsor = 15
cost_launcher = 400
cost_harvester = 75
cost_patcher = 200
cost_harpoon = 65
cost_machinegun = 125
cost_cannon = 250
cost_flak = 175
cost_hyperflak = 300
cost_pointDefense = 160
cost_bomb = 30
cost_secondaryCore = 800
cost_decoyCore = 150

#Block Weights
w_wood = 0.2
w_seat = 0.5#useful to slow down small fighters
w_propeller = 1.00
w_ramEngine = 1.25
w_solid = 0.75
w_door = 1.0
w_ram = 2.0
w_fakeram = 0.5
w_antiram = 0.75
w_coupling = 0.1#some weight for cases of mass spam
w_repulsor = 0.25
w_mothership = 12.0#the actual central block
w_launcher = 4.5
w_harvester = 2.0
w_harpoon = 2.0
w_patcher = 3.0
w_machinegun = 2.0
w_cannon = 3.25
w_flak = 2.5
w_hyperflak = 5.0
w_pointDefense = 3.5
w_bomb = 2.0
w_secondaryCore = 12.0
w_decoyCore = 6.0
